
.sorting {
  display: flex;
  flex-direction: column;
  padding: 35px 20px;
  box-sizing: border-box;
  background-color: #BDBDBD;
  height: 100%;
  width: 152px;
  div {
    font-size: 12px;
    line-height: 14px;
    color: #000000; 
  }
  div ~ * {
    margin-top: 10px;
  }
}